body {
  background-color: #30384b;
  color: #eee;
}

main {
  width: 300px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

button {
  cursor: pointer;
}

.label-wrapper label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  padding-left: 12px;
  text-transform: capitalize;
}

.play-button button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
}

.pause-button button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.pause-button:hover,
.play-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: all 0.2s;
}

.config-btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  margin: 0 auto;
  gap: 20px;
  padding: 12px 0px;
  border-radius: 8px;
  transition: all 0.2s;
  cursor: pointer;
}

.config-btn-text:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.config-btn-container {
  margin-top: 40px;
}

.break-container {
  margin-top: 40px;
}

.back-btn-wrapper {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 8px 0;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-btn-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  main{
    width: 400px;
    padding: 40px;
  }
}